/*@import url("https://fonts.googleapis.com/css?family=Montserrat:300,500,800");
*/

/*
  colors: 
  dark gray: #2E2F32
  blue: #106DC1
  white: #FFFFFF
*/

@font-face {
  font-family: "Moserrat";
  font-weight: bold;
  src: url("assets/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Moserrat";
  font-weight: normal;
  src: url("assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}

html,
body {
  margin: 0;
}
body {
  font-family: "Moserrat";
  background-color: #2E2F32;
}

nav {
  /*background-color: #2E2F32;*/
  background-color: rgba(37, 37, 40, 0.8);
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

nav .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 1rem;
}

.brand img {
  height: 35px;
}

nav .brand {
  font-family: "Staatliches";
}

nav .menu-icon {
  display: none;
  cursor: pointer;
}

.nav-items a {
  margin-right: 1rem;
  color: white;
  font-weight: 300;
}

nav a {
  text-decoration: none;
}

nav.scrolled {
  border-bottom: 1px solid rgba(130, 131, 132, 0.5);
}

.hero {
  background-image: url('./assets/img/keyboard-background.jpg');
  background-size: cover;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 200px;
  color: white;
  font-weight: bold;
}

.hero .is-desktop {
  width: fit-content;
}

.hero .is-desktop p {
  font-size: 3rem;
  margin: 0;
}

.is-mobile {
  display: none;
}

.dark-background-section {
  background-image: url('./assets/img/dark-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.white-background-section {
  background-color: white;
  color: #2E2F32;
}

.screen-background {
  background-image: url('./assets/img/screen-background.jpg');
  background-size: cover;
  color: white;
}

.dark-background-section, .white-background-section, .screen-background {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 5%;
  padding-right: 5%;
}

.is-flex {
  display: flex;
}

.info-section {
  padding-left: 20%;
  padding-right: 20%;
}

.space-between {
  justify-content: space-between;
}
.section-title {
  font-size: 3rem;
  font-weight: bold;
}

.section-title p {
  margin: 0;
}

.section-title .border-bottom{
  background-color: #106DC1;
  height: 10px;
  width: 40%;
}


.is-column-direction {
  flex-direction: column;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.icons .icon img {
  margin: 40px;
  margin-bottom: 0;
}

.steps {
  display: flex;
  flex-wrap: wrap;
  padding-left: 30px;
}

.steps .step {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.steps .step .number {
  background-image: url('./assets/img/circle.png');
  background-size: cover;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-weight: bold;
}

.contact-icon {
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-top: 15px;
}

.contact-icon img {
  width: 35px;
  height: 35px;
}

.phone {
  height: 380px;
  width: 304px;
}

.contact-section {
  background-color: #FFFFFF;
}

.contact-section .half {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-section .contact-container {
  padding-left: 120px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details span {
  margin-bottom: 15px;
}

.description-section {
  padding: 2rem;
  position: relative;
  border: 1px solid;
  width: 290px;
  margin-left: 100px;
}

.description-section p, .description-section ul {
  z-index: 1;
  position: relative;
}
.description-section::before,
.description-section::after {
  content: "";
  display: block;
  position: absolute;
  background: #2e2f32;
}

.white-description-background:before,
.white-description-background::after {
  background: #FFFFFF;
}

.description-section::before {
  top: -0.3em;
  bottom: -0.3em;
  left: 1em;
  right: 1em;
}

.description-section::after {
  left: -0.3em;
  right: -0.3em;
  top: 1em;
  bottom: 1em;
}

.phone-container {
  background-color: rgb(218,218,218);
  align-items: center;
}

@media (max-width: 800px) {
  nav div {
    display: none;
  }
  nav .menu-icon {
    display: block;
  }
  .section.tiers .prices {
    flex-direction: column;
  }
  .section.tiers .prices div {
    border-radius: 0;
  }

  .brand img {
    display: none;
  }

  .nav-items {
    position: fixed;
    top: 5rem;
    left: -100%;
    display: flex;
    flex-direction: column;
    background-color: #2E2F32;
    width: 100%;
    padding: 1rem 0;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(130, 131, 132, 0.5);
  }
  .nav-items *:not(:last-child) {
    margin-bottom: 10px;
  }
  .nav-items.active {
    left: 0;
  }
}

@media (max-width: 800px) {
  .hero {
    padding-left: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .is-desktop {
    display: none;
  }
  
  .is-mobile {
    display: flex;
  }

  .hero .is-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero .is-mobile .alto-logo {
    height: 110px;
  }
  
  .hero .is-mobile p {
    font-size: 1.5rem;
    width: 290px;
    margin-top: 30px;
  }

  .info-section, .contact-section, .contact-section {
    padding-right: 0px;
    padding-left: 0px;
  }

  .section-title {
    font-size: 2rem;
    padding-left: 5%;
  }

  .description-section {
    padding: 1rem;
    border: unset;
    margin-left: unset;
  }

  .info-section, .contact-section {
    flex-direction: column;
  }

  .contact-section .section-title {
    padding-left: 0;
  }

  .steps {
    margin-top: 35px;
  }

  .steps .step {
    flex: 1 1 100%;   
    align-items: center;
    margin-top: 20px;
  }

  .icons {
    flex-wrap: wrap;
  }

  .steps .step {
    font-size: 1.2rem;
  }

  .steps .step .number {
    height: 120px;
    width: 120px;
  }

  .contact-container {
    margin-top: 30px;
  }

  .contact-section .half {
    width: 95%;
    padding-left: 5%;
  }

  .contact-icons {
    justify-content: center;
    margin-bottom: 30px;
  }

  .contact-icon {
    margin-right: 0;
  }

  .contact-icon:first-of-type {
    margin-right: 30px;
  }

  .phone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}